<html>
<head>
<title>Class::MOP Browser</title>
<style type='text/css'>

A { 
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;    
}

</style>
</head>
<body>
[% content %]
</body>
</html>